<h1>Tamagotchi!</h1>

<form action="/results" method="post">
  <label for="tamagotchiName"><h3>Make your Tamagotchi</h3></label>
  <input id="tamagotchiName" name="tamagotchiName" type="text">

  <button type="submit" class="btn btn-default">Make One!</button>
</form>
